@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

body {
    background-color: #252525;
    color: #f5f5f5;
}

* {
    font-family: 'Rubik', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 31px none #ffffff;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #a1a1a1;
}
::-webkit-scrollbar-thumb:active {
    background: #a3a3a3;
}
::-webkit-scrollbar-track {
    background: #f0f0f0;
    border: 1px solid #ffffff;
    border-radius: 5px;
}
::-webkit-scrollbar-track:hover {
    background: #f2f2f2;
}
::-webkit-scrollbar-track:active {
    background: #f5f5f5;
}
::-webkit-scrollbar-corner {
    background: transparent;
}

#spinner {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
}